{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}{% block notitle %} - {% endblock %}No PLS</title>
    <link rel="stylesheet" href="{% static "index/css/global.css" %}">
    <link rel="stylesheet" href="{% static "index/css/vars.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="//code.iconify.design/1/1.0.0-rc1/iconify.min.js"></script>
    {% block styles %}{% endblock %}
    {% block headscripts %}{% endblock %}
    {% block opengraph %}{% endblock %}
    <h1 class="header-title">No PLS</h1>
</head>
<body>
{% block body %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>