{% extends "layouts/base.html" %}
{% block title%}{{ article.titre }}Prout{% endblock %}

{% block body %}

    <div class="article-title">
        <h1>{{ article.titre }}Demande APL</h1>
    </div>
    <ul class="tags">
        <li class="tag">
            Logement
        </li>
        <li class="tag">
            CAF
        </li>
        <li class="tag">
            Finance
        </li>
    </ul>
    <div class="article-description">
        <div class="article-description-header">
            <h3 class="article-description-title">Description de la démarche</h3>
            <div class="separator"></div>
            <div class="article-duration">
                Durée moyenne :{{ article.duration }} 3 jours
            </div>
        </div>
        <p>
        {{ article.description }}
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur consequatur distinctio ex
            placeat saepe sed temporibus velit voluptates. Consequuntur doloribus ducimus est, iste obcaecati recusandae
            repellat tempore ut? Explicabo.
        </p>
    </div>

    <div class="article-steps">
        <h3 class="article-step-title">{{ article_step.title }}Estime tes droits sur le site de la CAF</h3>
        <p class="article-step-description">{{ article_step.description }}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid atque dolorum ducimus error illum incidunt ipsam laudantium, molestias numquam,
            optio porro quae quas sed sequi unde vel voluptates? Libero.
        </p>
        <div class="tips">
            <div class="tip">
                <div class="tip-vote">
                    Score
                </div>
                <div class="tip-content">
                    <div class="tip-author">
                        <img class="author-pic" src="#" alt="author-pic">
                        <h2 class="author-name">{{ tip.author.name }}Jean-Cloud</h2>
                        <ul class="tip-tags">
                        <li class="tip-tag">
                            lieu
                        </li>
                    </ul>
                        <div class="separator"></div>
                        <div class="tip-duration">
                        Posté :{{ tip.duration }} 06 dec 2019
                        </div>
                    </div>

                    <p class="tip-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolor dolorem doloribus earum harum modi temporibus vero.
                        Ad aliquid esse et maiores quia, quibusdam quo quos repellendus sunt voluptas voluptatibus.
                    </p>
                </div>
            </div>
            <div class="more-tip">
                <button>
                <span>Plus d'astuces</span>
                <span class="iconify" data-icon="mdi-chevron-down"></span>
            </button>
            </div>
        </div>
    </div>

    <section>

    {% for step in steps %}

        <h3>{{ forloop.counter }}. {{ step.title }}</h3>
        
        {% for contentstep in step.contentstep_set.all %}

            <h4>{{ contentstep.type }}</h4>
            {% for comment in contentstep.get_best_comments %}
                <div class="comment">
                    <p class="likes">Likes : {{ comment.like }}</p>
                    <p class="comment-text">
                        {{ comment.text }}
                    </p>
                </div>
            {% endfor %}
            <form action="{% url "send_comment" article_slug=article.slug %}" method="post">
            {% csrf_token %}
            {{ contentstep.get_comment_form }}
            <button>Send</button>
            </form>
            
        {% endfor %}


    {% endfor %}


    </section>

{% endblock %}