{% extends "layouts/base.html" %}
{% block title%}{{ article.titre }}Prout{% endblock %}

{% block body %}

    <div class="article-title">
        <h1>{{ article.titre }}Demande APL</h1>
    </div>
    <ul class="tags">
        <li class="tag">
            Logement
        </li>
        <li class="tag">
            CAF
        </li>
        <li class="tag">
            Finance
        </li>
    </ul>
    <div class="article-description">
    {{ article.description }}
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur consequatur distinctio ex
            placeat saepe sed temporibus velit voluptates. Consequuntur doloribus ducimus est, iste obcaecati recusandae
            repellat tempore ut? Explicabo.
    </div>
    <div class="article-duration">
    {{ article.duration }} 3 jours
    </div>
    <div class="article-steps">
        <h2 class="article-step-title">{{ article_step.title }}Estime tes droits sur le site de la CAF</h2>
        <p class="article-step-description">{{ article_step.description }}
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid atque dolorum ducimus error illum incidunt ipsam laudantium, molestias numquam,
            optio porro quae quas sed sequi unde vel voluptates? Libero.
        </p>
        <div class="tips">
            <div class="tip">
                <div class="tip-vote">

                </div>
                <div class="tip-author">
                    <img class="author-pic" src="#" alt="author-pic">
                    <h2 class="author-name">{{ tip.author.name }}Jean-Cloud</h2>
                </div>
                <p class="tip-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolor dolorem doloribus earum harum modi temporibus vero.
                    Ad aliquid esse et maiores quia, quibusdam quo quos repellendus sunt voluptas voluptatibus.
                </p>
            </div>
            <button class="more-tip">
                <span>Plus d'astuces</span>
                <span class="iconify" data-icon="mdi-chevron-down"></span>
            </button>

        </div>

    </div>


{% endblock %}