* {
    background-color: var(--background-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.header-title {
    background-color: var(--dark-background-color);
    font-family: var(--body-text-fonts);
    text-align: center;
    color: var(--background-color);
    margin: 0;
    padding: 10px;
}

.article-title {
    font-family: var(--body-text-fonts);
    text-align: center;
    color: var(--heading-text-color);
    margin: 10px;
    padding: 0;
}

.tags {
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
}

.tags li  {
    display: inline;
    margin: 0 5px;
}

.tag, .tip-tag {
    background-color: var(--dark-background-color);
    padding: 5px 10px;
    border-radius: 1rem;
    color: var(--body-text-color);
}

.article-description-header {
    display: flex;
}

.article-description-title,  .article-step-title{
    font-family: var(--body-text-fonts);
    color: var(--header-text-secondary-color);
    margin: 10px;
    padding: 0;
}

.article-description, .article-steps {
    border-radius: 1rem;
    border: var(--dark-background-color) solid 1px;
    margin: 50px 25%;
    padding: 10px;


}

.article-step-body {
    list-style: none;
    display: flex;
}

.article-step-content h4 {
    text-align: center;
    border-radius: 1rem 1rem 0 0;
    border: var(--dark-background-color) solid 1px;
}

.article-step-content p {
    border: var(--dark-background-color) solid 1px;
}

.article-description p, .article-step-description {
    font-family: var(--body-text-fonts);
    font-size: 1em;
    padding: 10px;
}

.article-duration {
    font-family: var(--body-text-fonts);
    font-size: 0.7em;
    padding-top: 15px;
}

.tips {
    border-top: var(--dark-background-color) solid 1px ;
    padding: 10px 20px;
    margin: 0 -10px;
}

.tip {
    display: flex;
    margin: 0 10px;
}

.tip-hidden {
    display: none;
}

.tip-vote {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 0;
    padding-right: -5px;
}

.icon-vote {
    margin-left: 15px;
}

.vote-nb {
    margin-left: 18.75px;
}

.tip-content {
    width: 100%;
}

.tip-author {
    display: flex;
    margin: 0 10px;
}

.author-pic {
    padding: 5px 0;
}

.author-name {
    font-family: var(--body-text-fonts);
    font-size: 0.95em;
    margin: 0 10px;
    padding: 5px 0;
}

.tip-tags {
     list-style: none;
    text-align: center;
}

.tip-tag {
    margin: 0 15px;
    height: fit-content;
    width: fit-content;
}

.tip-description {
    font-family: var(--body-text-fonts);
    font-size: 0.95em;
    margin-bottom: 5px;
    margin-left: 15px;
}

.tip-footer {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.separator {
    flex: 1;
}

.more-tip {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: var(--dark-background-color) solid 1px;
    background-color: var(--dark-background-color);
    padding: 5px 10px;
    margin: 5px -20px -20px -20px;
    text-align: center;
}

.more-tip button {
    border: var(--dark-background-color) solid 1px;
    background-color: var(--dark-background-color);
    padding: 5px 10px;
}

.more-tip span {
    color: var(--body-text-color);
    background-color: var(--dark-background-color);
}

.comment-form-hidden {
    display: none;
}

.comment-form {
    display: block;
}

.comment-form label {
    font-family: var(--body-text-fonts);
    color: var(--header-text-secondary-color);
    margin: 5px 0;
    padding: 0;
    font-size: 1em;
}

.comment-form ul li {
    font-family: var(--body-text-fonts);
    margin: 5px 0;
    padding: 0;
    font-size: 0.8em;
}

.comment-form ul {
    list-style: none;
}

.comment-form textarea {
    width: 100%;
    border: var(--dark-background-color) solid 1px;
}

.comment-form button {
    border-radius: 1rem;
    border: var(--dark-background-color) solid 1px;
    background-color: var(--dark-background-color);
    color: var(--body-text-color);
    padding: 5px 10px;
}